{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}


    
    <!-- Topbar -->
    <!-- <nav class="navbar navbar-light bg-light p-4">
        <a class="navbar-brand ps-5" href="#">LOGO</a>
        <div class="navbar-nav flex-row pe-5">
            <a class="nav-link active me-5" aria-current="page" href="#">Chat</a>
            <a class="nav-link active" aria-current="page" href="#">Name</a>
        </div>
    </nav> -->
        
        <!-- Sidebar -->
        <main class="bg-primary row flex-nowrap">

            <aside class=" col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark ">
                <div class="d-flex flex-column align-items-center align-items-sm-start justify-content-between px-3 pt-2 text-white min-vh-100">
                    <div class="d-flex">
                        <a class="" href="#">
                            LOGO
                        </a>
                    </div>
                    <div class="d-flex">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"> 
                            <li>Grafikas</li>
                            <li>Užduotys</li>
                            <li>Receptai</li>
                            <li>Pakeitimas</li>
                            <li>Dokumentai</li>
                        </ul>
                    </div>
                    <div class="d-flex p-3">
                        <a href="#">Log off</a>
                    </div>
                    
                </div>
            </aside>

            <nav class="navbar navbar-expand-lg bg-dark h-50 p-4 col">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav fs-3">
                      <a class="nav-link active me-3" aria-current="page" href="#">Chat</a>
                      <a class="nav-link" href="#">Profile</a>
                    </div>
                  </div>
                </div>
            </nav>

        </main>
{% endblock %}
