{% extends "base.html" %} 
{% block title %} Home {% endblock %} 

{% block content %}
<main class="bg-primary row flex-nowrap">
    <!-- Sidebar -->
    <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start justify-content-between pt-2 text-white min-vh-100 pe-4 ps-md-3 ps-sm-3">
                <div class="d-flex px-sm-2">
                    <a class="nav-link mb-3 text-uppercase fs-4" href="#">
                        <span class="d-none d-sm-inline"> LOGO </span>
                    </a>
                </div>
                <div class="d-flex">
                    <ul class="nav nav-pills flex-column mb-sm-auto px-0 px-sm-2 mb-0 align-items-center align-items-sm-start">
                        <li class="nav-item">
                            <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0"> 
                                <img src="/static/img/schedule-calendar.svg" class="px-0"> 
                                <span class="ms-1 d-none d-sm-inline">Grafikas</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex">
                            <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0">
                                <img src="/static/img/task-square.svg" > 
                                <span class="ms-1 d-none d-sm-inline">Užduotys</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0">
                                <img src="/static/img/chemistry-science.svg"> 
                                <span class="ms-1 d-none d-sm-inline">Receptai</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0">
                                <img src="/static/img/exchange-5.svg" > 
                                <span class="ms-1 d-none d-sm-inline">Pakeitimas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0">
                                <img src="/static/img/document.svg"> 
                                <span class="ms-1 d-none d-sm-inline">Dokumentai</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item px-sm-2">
                    <a href="#" class="nav-link mb-3 text-uppercase fs-4 d-flex flex-row align-middle px-0">
                        <img src="/static/img/logout.svg"> 
                        <span class="ms-1 d-none d-sm-inline text-nowrap">Log off</span>
                    </a>
                </div>
            </div>
        </aside>

        <!-- Topbar -->
        <nav class="navbar navbar-expand bg-dark h-50 col justify-content-end px-4">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/chat-round-dots.svg">
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/profile-circle.svg">
                    </a>
                </div>
            </div>
        </nav>
    </main> 
{% endblock %}