{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <main class="d-flex align-items-center vw-100 vh-100 bg-dark bg-gradient"></main>
        <section class="container w-75 position-absolute top-50 start-50 translate-middle">
            <section class="row">
                <a href="{{ url_for('auth.login') }}" class="col btn btn-primary m-3">Login</a>
                <a href="{{ url_for('auth.register') }}" class="col btn btn-primary m-3">Register</a>
            </section>
        </section>
    </main>
{% endblock %}
