{%extends "layout.html"%}

{% block title %} Login {%endblock%}

{%block content %}
    <main class="container">
        <section class="container w-50 position-absolute top-50 start-50 translate-middle">
            <form method="POST" action={{ url_for('auth.login') }}>
        
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
                {% endwith %}
        
                <fieldset>
                    {{ form. hidden_tag()}}
                    
                    <legend class="text-center text-uppercase mb-3">Login</legend>

                    <section class="mb-3 form-floating">
                        {{ form.username(class="form-control")}}
                        {{ form.username.label()}}
                    </section>

                    <section class="mb-3 form-floating">
                        {{ form.password(class="form-control")}}
                        {{ form.password.label()}}
                    </section>
                    <section class="mb-3">
                        {{ form.submit(class="btn btn-primary form-control")}}
                    </section>
                </fieldset>
            </form>
        </section>
    </main>
{%endblock%}