{%extends "layout.html"%}

{% block title %} <h1>Login</h1>{%endblock%}

{%block content %}
    <form method="POST" action={{ url_for('auth.login') }}>
        
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        {% endwith %}

        <fieldset>
            {{ form. hidden_tag()}}
            
            <legend>LOGIN</legend>
            
            {{ form.username.label()}}
            {{ form.username()}}

            {{ form.password.label()}}
            {{ form.password()}}

            {{ form.submit()}}
        </fieldset>
    </form>

{%endblock%}