{%extends "layout.html"%}

{% block title %} Register {%endblock%}

{%block content %}
    <form method="POST" action={{ url_for('auth.register') }}>
        
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}
        {%endwith%}

        <fieldset>
            {{ form. hidden_tag()}}
            

            <legend>Register</legend>

            {{ form.username.label()}}
            {{ form.username()}}

            {{ form.email.label()}}
            {{ form.email()}}

            {{ form.password.label()}}
            {{ form.password()}}

            {{ form.confirm_password.label()}}
            {{ form.confirm_password()}}

            {{ form.submit()}}
        </fieldset>
    </form>

{%endblock%}